body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

body > * {
    margin: 60px;
}

button {
    display: block;
    border-radius: 12px;
    box-shadow: -7px 3px 15px -4px white;
    width: 200px;
    height: 45px;
    background-color: lightseagreen;
    color: blue;
    border: 3px solid lightskyblue;
    font-size: 1.2rem;
    transition: background-color ease-in-out .8s, color ease-in .4s .6s;
    /* 1: all corresepond à l'instruction  on cible tout, on pourrait très bien cibler uniquement le background-color  */
}
button:hover {
    background-color: blue;
    color: darkblue;
    cursor:pointer;
}

.btn2 {
    transition: all .4 ease-in-out;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    animation: .1s infinite alternate adieulesyeux;
}

@keyframes adieulesyeux {
    0%{
        background-color: green;
        transform: translateX(0);
    }
    25%{
        background-color: yellow;
        transform: translate(200px, 150px);
    }
    50%{
        background-color: red;
        transform: translate(400px , 200px);
    }
    75%{
        background-color: fuchsia;
        transform: translateX(600px, 10px);
    }
    100%{
        background-color: cyan;
        transform: translateX(800px, 100px);
    }
}