.wrapper {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
    background-color: lightsalmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 30px;
}

.wrapper  img {
    width: 500px;
}