/* on peut ajouter plusieurs classe à la même div */

.liste {
    font-size: 50px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: lightcoral;
    margin-left: 20px;
    letter-spacing: 5px;
    text-decoration: underline wavy;
}

.liste-car {
color: lightskyblue;
}

#voitures { /*pour accéder à une ID un utilise le # 
    et le . pour une classe */
    list-style-type:armenian;
}