table td {
    border:  2px solid black;
    padding: 20px;
}
table {
    /* border collapse permet d'assembler les différente bordures des cellules de notre tableau */
    border-collapse: collapse;
}